<!--views/articles/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Add an article</h1>
    <form method="post" action="/articles">
      <input type="text" name="title" placeholder="Article title"><br />
      <input type="text" name="author" placeholder="Article author"><br />
      <textarea name="content"></textarea><br />
      <button>Save</button>
    </form>
  </body>
</html>
